<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinkUp"
        tools:targetApi="31">
        <activity
            android:name=".HomeOperation.CreatePost"
            android:exported="false" />
        <activity
            android:name=".CommunityOperation.MyArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".CommunityOperation.SavedArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".CommunityOperation.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".CommunityOperation.CreateCommunityPost"
            android:exported="false" />
        <activity
            android:name=".ProfileOperation.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileOperation.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileOperation.UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".ProfileOperation.CreateProfile"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SocialLogin.FacebookSignInActivity"
            android:exported="false" />
        <activity
            android:name=".SocialLogin.GoogleSignInActivity"
            android:exported="false" />
        <activity
            android:name=".Process.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Process.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Process.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Process.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>